Core:
  log_level: 1
  time_zone: America/New_York
  log_timestamps: false
  log_directory: /srv/avorion/logs
  db_filename: data.db
Game:
  galaxy_name: Galaxy
  install_dir: /srv/avorion/server_files/
  data_dir: /srv/avorion/
  ping_port: 27020
  port: 27000
RCON:
  address: 127.0.0.1
  binary: /usr/local/bin/rcon
  port: 27015
Discord:
  bots_allowed: false
  log_channel:
  chat_channel:
  status_channel:
  invite:
  prefix: '!!'
  token: "$TOKEN"
  disabled_commands:
  - rcon
  aliased_commands:
    getcoordhistory:
    - gch
    - hist
    getjumps:
    - jumps
    getplayers:
    - players
    loglevel:
    - ll
    modlist:
    - showmods
    - mods
    server:
    - srv
    setchatchannel:
    - scc
    setstatuschannel:
    - ssc
    settimezone:
    - stz
  role_auth_levels:
  command_auth_levels:
    rcon: 9
  status_channel_clear: true
Mods:
  enforce: false
  allowed: []
  enabled: []
  modpaths: []
Events:
  EventConvoyMoved:
  - The convoy is now in %s
  - ^\s*<[^\s]*?> Convoy moving to (\(-?\d+:-?\d+\))\.\s*$
  testingEvent:
  - 'Got testing event: %s'
  - '^\s*This is a test: (.+?)\s*$'